{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.3/css/jquery.dataTables.min.css">
{% endblock %}


{% block title %}Auteur {{ author.firstname }} {{ author.lastname }}{% endblock %}

{% block body %}
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{% if author.image is not null %}/uploads/authors/{{author.lastname}}-{{author.firstname}}/{{ author.image }}
        {% else %}
            {% if author.sexe is same as('M') %} https://c7.alamy.com/compfr/2hp6yx7/avatar-homme-visage-silhouette-utilisateur-signe-personne-profil-image-homme-icone-noir-couleur-vecteur-illustration-image-de-style-plat-2hp6yx7.jpg
            {% elseif author.sexe is same as('F') %} https://www.sne.fr/app/uploads/2017/10/profile-femme.jpg
            {% endif %}
        {% endif %}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{ author.firstname }} {{ author.lastname }}</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">{% if author.sexe is same as('M') %}Homme{%  elseif author.sexe is same as ('F') %} Femme {% endif %}</li>
        </ul>
        {% if is_granted('ROLE_ADMIN') %}
        <div class="card-body">
            <a href="{{ path('author_edit', {'id': author.id}) }}" class="card-link btn btn-success">Modifier</a>
            {{ include('author/_delete_form.html.twig') }}
        </div>
        {% endif %}
    </div>

    <h1>Livres écrit:</h1>
    <table class="table table-dark table-striped" id="booksTable">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Couverture</th>
            <th scope="col">Titre</th>
            <th scope="col">ISBN</th>
            <th scope="col">Année</th>
            <th scope="col">Descripion</th>
            <th scope="col">Editeurs</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for book in author.books %}
            <tr>
                <td>{{ book.id }}</td>
                <td>
                    <img style="max-height: 100px;" src="{% if book.image is not null %}/uploads/books/{{book.isbn}}-{{book.title}}/{{ book.image }}{% else %}https://binaries.templates.cdn.office.net/support/templates/fr-fr/lt22301254_quantized.png{% endif %}" />
                </td>
                <td>{{ book.title }}</td>
                <td>{{ book.isbn }}</td>
                <td>{{ book.year }}</td>
                <td>{{ book.description }}</td>
                <td><a href="{{  path('publisher_show', {id: book.publisherId.id}) }}" class="link-info">{{ book.publisherId.name }}</a></td>
                <td>
                    <a href="{{ path('book_show', {'id': book.id}) }}" class="btn btn-success">Voir</a>
                    {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('book_edit', {'id': book.id}) }}" class="btn btn-secondary">Modifier</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js"></script>
    <script>
        let table = new DataTable('#booksTable');
    </script>
{% endblock %}
