{% extends 'base.html.twig' %}

{% block title %}Book index{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.3/css/jquery.dataTables.min.css">
{% endblock %}
{% block body %}
    <h1>Liste des Editeurs</h1>


    <table class="table table-dark table-striped" id="publishersTable">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Logos</th>
            <th scope="col">Nom</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for publisher in publishers %}
            <tr>
                <td>{{ publisher.id }}</td>
                <td>
                    <img style="max-height: 100px;" src="{% if publisher.image is not null %}/uploads/publishers/{{publisher.name}}/{{ publisher.image }}
                        {% else %}https://media.istockphoto.com/id/1125880278/fr/vectoriel/logotype-de-cercle-abstrait-de-mouvement-cr%C3%A9ation-logo-rond-dynamique-symbole-de-la.jpg?s=1024x1024&w=is&k=20&c=yynugnKsuxeSx5ND02TG0JRmaxR0soTej4LVpdvsbgA={% endif %}" />
                </td>
                <td>{{ publisher.name }}</td>
                <td>
                    <a href="{{ path('publisher_show', {'id': publisher.id}) }}" class="btn btn-success">Voir</a>
                    {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('publisher_edit', {'id': publisher.id}) }}" class="btn btn-secondary">Modifier</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('publisher_new') }}" class="btn btn-primary">Ajouter un livre</a>
    {% endif %}
{% endblock %}
{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js"></script>
    <script>
        let table = new DataTable('#publishersTable');
    </script>
{% endblock %}
