{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.3/css/jquery.dataTables.min.css">
{% endblock %}


{% block title %}Editeur {{ publisher.name }}{% endblock %}

{% block body %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{ publisher.name }}</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        {% if is_granted('ROLE_ADMIN') %}
            <div class="card-body">
                <a href="{{ path('publisher_edit', {'id': publisher.id}) }}" class="card-link">Modifier</a>
                {{ include('publisher/_delete_form.html.twig') }}
            </div>
        {% endif %}
    </div>

    <h1>Livres édité:</h1>
    <table class="table table-dark table-striped" id="booksTable">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Couverture</th>
            <th scope="col">Titre</th>
            <th scope="col">ISBN</th>
            <th scope="col">Année</th>
            <th scope="col">Descripion</th>
            <th scope="col">Editeurs</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for book in publisher.books %}
            <tr>
                <td>{{ book.id }}</td>
                <td>
                    <img style="max-height: 100px;" src="{% if book.image is not null %}/uploads/photos/books/{{book.isbn}}-{{book.title}}/{{ book.image }}{% else %}https://binaries.templates.cdn.office.net/support/templates/fr-fr/lt22301254_quantized.png{% endif %}" />
                </td>
                <td>{{ book.title }}</td>
                <td>{{ book.isbn }}</td>
                <td>{{ book.year }}</td>
                <td>{{ book.description }}</td>
                <td><a href="{{  path('author_show', {id: book.authorId.id}) }}" class="link-warning">{{ book.authorId.firstname }} {{ book.authorId.lastname }}</a></td>
                <td>
                    <a href="{{ path('book_show', {'id': book.id}) }}" class="btn btn-success">Voir</a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('book_edit', {'id': book.id}) }}" class="btn btn-secondary">Modifier</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js"></script>
    <script>
        let table = new DataTable('#booksTable');
    </script>
{% endblock %}
