{% extends 'base.html.twig' %}

{% block title %}Book index{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.3/css/jquery.dataTables.min.css">
{% endblock %}
{% block body %}
    <h1>Liste des livres</h1>


    <table class="table table-dark table-striped" id="booksTable">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Prénom</th>
            <th scope="col">Nom</th>
            <th scope="col">Sexe</th>
            <th scope="col">Image</th>
            <th scope="col">Auteurs</th>
            <th scope="col">Editeurs</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                <td>{{ book.id }}</td>
                <td>{{ book.title }}</td>
                <td>{{ book.isbn }}</td>
                <td>{{ book.year }}</td>
                <td>{{ book.description }}</td>
                <td>{{ book.authors.firstname }}</td>
                <td>{{ book.publishers.name }}</td>
                <td>
                    <a href="{{ path('book_show', {'id': book.id}) }}" class="btn btn-success">Voir</a>
                    {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('book_edit', {'id': book.id}) }}" class="btn btn-secondary">Modifier</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('book_new') }}" class="btn btn-primary">Ajouter un livre</a>
    {% endif %}
{% endblock %}
{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js"></script>
    <script>
        let table = new DataTable('#booksTable');
    </script>
{% endblock %}
