{% extends 'base.html.twig' %}

{% block title %}Livre - {{ book.title }}{% endblock %}

{% block body %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{ book.title }} par </h5>
            <p class="card-text">{{ book.description }}</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Année: {{ book.year }}</li>
            <li class="list-group-item">ISBN: {{ book.isbn }}</li>
        </ul>
        {% if is_granted('ROLE_ADMIN') %}
        <div class="card-body">
            <a href="{{ path('book_edit', {'id': book.id}) }}" class="card-link btn btn-primary">Modifier</a>
            {{ include('book/_delete_form.html.twig') }}
        </div>
        {% endif %}
    </div>

{% endblock %}
